<ion-header>
  <ion-toolbar>
    <ion-title>Şifremi Sıfırla</ion-title>
    <ion-buttons slot="start">
      <ion-button (click)="close()">
        <ion-icon name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="container">
    <form [formGroup]="resetPasswordForm">
      <h3>Şifremi Sıfırla</h3>
      <ion-item>
        <ion-label position="floating">Eski Şifre</ion-label>
        <ion-input type="password" formControlName="oldPassword"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Yeni Şifre</ion-label>
        <ion-input type="password" formControlName="newPassword"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Yeni Şifre Tekrar</ion-label>
        <ion-input type="password" formControlName="newRePassword"></ion-input>
      </ion-item>
      <small class="text-danger" *ngIf="(resetPasswordForm.hasError('notSame'))">
        <div>Şifreler uyuşmuyor</div>
      </small>
    </form>
    <ion-button [disabled]="!isOk" [disabled]="!resetPasswordForm.valid" (click)="resetPassword()" expand="block">
      <span *ngIf="!isOk" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
      &nbsp;Sıfırla
    </ion-button>
  </div>
</ion-content>
