<ion-header>
  <ion-toolbar>
    <ion-title>
      <span *ngIf="user">Kullanıcı Güncelle</span>
      <span *ngIf="!user">Kullanıcı Ekle</span>
    </ion-title>
    <ion-buttons slot="start">
      <ion-button *ngIf="user" (click)="close()">
        <ion-icon name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="start">
      <ion-back-button *ngIf="!user" defaultHref="/admin/home"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="container">
    <form [formGroup]="form">
      <ion-item>
        <ion-label position="floating">Ad</ion-label>
        <ion-input></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Soyad</ion-label>
        <ion-input></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Eposta</ion-label>
        <ion-input></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Eposta Doğrulama</ion-label>
        <ion-checkbox slot="end" [(ngModel)]="user.emailConfirmed"></ion-checkbox>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Skor</ion-label>
        <ion-input></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Profil Fotoğrafı</ion-label>
        <ion-input></ion-input>
      </ion-item>
    </form>
    <ion-button [disabled]="!form.valid" (click)="update()" expand="block">
      Kaydet
    </ion-button>
  </div>
</ion-content>
