<ion-header>
  <ion-toolbar>
    <ion-title>
      <span *ngIf="user">Kullanıcı Güncelle</span>
      <span *ngIf="!user">Kullanıcı Ekle</span>
    </ion-title>
    <ion-buttons slot="start">
      <ion-button *ngIf="user" (click)="close()">
        <ion-icon name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="start">
      <ion-back-button *ngIf="!user" defaultHref="/admin/home"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="container">
    <form [formGroup]="form">
      <input type="hidden" [(ngModel)]="user && user.id" formControlName="id">
      <ion-item>
        <ion-label position="floating">Ad</ion-label>
        <ion-input [(ngModel)]="user && user.firstName" formControlName="firstName"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Soyad</ion-label>
        <ion-input [(ngModel)]="user && user.lastName" formControlName="lastName"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Eposta</ion-label>
        <ion-input [(ngModel)]="user && user.email" formControlName="email"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Eposta Doğrulama</ion-label>
        <ion-checkbox [(ngModel)]="user && user.emailConfirmed" formControlName="emailConfirmed" slot="end">
        </ion-checkbox>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Skor</ion-label>
        <ion-input [(ngModel)]="user && user.score" formControlName="score"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Profil Fotoğrafı</ion-label>
        <ion-input [(ngModel)]="user && user.profilePhotoUrl" formControlName="profilePhotoUrl"></ion-input>
      </ion-item>
      <br>
      <ion-item *ngFor="let role of allRoles">
        <ion-label>{{role.name}}</ion-label>
        <ion-checkbox (click)="updateSelectedRoles(role)" [checked]="checkInrole(role)" [value]="role.id" slot="end">
        </ion-checkbox>
      </ion-item>
    </form>
    <ion-button (click)="update()" expand="block">
      Kaydet
    </ion-button>
  </div>
</ion-content>
