<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/admin/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Kullanıcılar</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngFor="let user of users">
    <ion-card-header>
      <ion-card-subtitle></ion-card-subtitle>
      <ion-card-title>{{user.firstName}} {{user.lastName}}</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <p>Eposta: {{user.email}}</p>
      <p>Eposta doğrulama: {{user.emailConfirmed}}</p>
      <p>Skor: {{user.score}}</p>
      <p>Kayıt olma tarihi: {{user.createdDate}}</p>
    </ion-card-content>
  </ion-card>
</ion-content>
