<ion-header>
  <ion-toolbar>
    <ion-title class="coz">ÇÖZ</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="login-card container col-xl-10 col-xxl-8 px-4 py-5">
    <div class="row align-items-center g-lg-5 py-5">
      <div class="col-lg-7 text-center text-lg-start">
        <h1 class="login-title display-4 fw-bold lh-1 mb-3">Kayıt Ol</h1>
        <p class="col-lg-10 fs-4"></p>
      </div>
      <div class="col-md-10 mx-auto col-lg-5">
        <form [formGroup]="registerForm" class="p-4 p-md-5 border rounded-3 bg-light">
          <div class="form-floating mb-3">
            <input formControlName="firstName" type="text" class="form-control" id="firstName" placeholder="Emir">
            <label for="firstName">Adınız</label>
            <small class="text-danger" *ngIf="(firstName.touched || firstName.dirty)&& firstName.errors">
              <div *ngIf="firstName.errors.required">Adınız boş olamaz</div>
              <div *ngIf="firstName.errors.maxlength">
                Adınız maksimum {{firstName.errors.maxlength.requiredLength}} karakter olabilir
              </div>
            </small>
          </div>
          <div class="form-floating mb-3">
            <input formControlName="lastName" type="text" class="form-control" id="lastName" placeholder="Gurbuz">
            <label for="firstName">Soyadınız</label>
            <small class="text-danger" *ngIf="(lastName.touched || lastName.dirty)&& lastName.errors">
              <div *ngIf="lastName.errors.required">Soyadınız boş olamaz</div>
              <div *ngIf="lastName.errors.maxlength">
                Soyadınız maksimum {{lastName.errors.maxlength.requiredLength}} karakter olabilir
              </div>
            </small>
          </div>
          <div class="form-floating mb-3">
            <input formControlName="email" type="email" class="form-control" id="email" placeholder="coz@example.com">
            <label for="email">Eposta Adresi</label>
            <small class="text-danger" *ngIf="(email.touched || email.dirty)&& email.errors">
              <div *ngIf="email.errors.required">Eposta boş olamaz</div>
              <div *ngIf="email.errors.email">Eposta geçersiz</div>
              <div *ngIf="email.errors.maxlength">
                Eposta maksimum {{email.errors.maxlength.requiredLength}} karakter olabilir
              </div>
            </small>
          </div>
          <div class="form-floating mb-3">
            <input formControlName="password" type="password" class="form-control" id="password" placeholder="Şifreniz">
            <label for="password">Şifre</label>
            <small class="text-danger" *ngIf="(password.touched || password.dirty) && password.errors">
              <div *ngIf="password.errors.required">Şifre boş olamaz</div>
              <div *ngIf="password.errors.minlength">
                Şifre en az {{password.errors.minlength.requiredLength}} karakter olabilir
              </div>
            </small>
          </div>
          <div class="form-floating mb-3">
            <input formControlName="rePassword" type="password" class="form-control" id="rePassword" placeholder="Şifre Tekrar">
            <label for="rePassword">Şifre Tekrarı</label>
            <small class="text-danger" *ngIf="(rePassword.touched || rePassword.dirty) && rePassword.errors">
              <div *ngIf="rePassword.errors.required">Şifre tekrarı boş olamaz</div>
              <div *ngIf="rePassword.errors.minlength">
                Şifre tekrarı en az {{rePassword.errors.minlength.requiredLength}} karakter olabilir
              </div>
            </small>
            <small class="text-danger" *ngIf="((rePassword.touched || rePassword.dirty) && registerForm.hasError('notSame'))">
              Şifreler uyuşmuyor
            </small>
          </div>
          <button (click)="register()" [disabled]="!isOk" [disabled]="!registerForm.valid"
            class="w-100 btn btn-lg btn-primary" type="submit">
            <span *ngIf="isOk">Kayıt Ol</span>
            <span *ngIf="!isOk">Kayıt Olunuyor</span>
            <span *ngIf="!isOk" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
          </button>
          <hr class="my-4">
          <small class="text-muted">Kayıt olduğunuzda, tüm kullanım haklarını kabul etmiş olursunuz.</small>
        </form>
      </div>
    </div>
  </div>
</ion-content>
