<ion-header>
  <ion-toolbar>
    <ion-title>Profilimi Güncelle</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="container">
    <form [formGroup]="saveForm">
      <h3>Bilgilerimi Düzenle</h3>
      <ion-item>
        <ion-label position="floating">Ad</ion-label>
        <ion-input formControlName="firstName"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Soyad</ion-label>
        <ion-input formControlName="lastName"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Şifre</ion-label>
        <ion-input type="password" formControlName="password"></ion-input>
      </ion-item>
    </form>
    <ion-button [disabled]="!saveForm.valid" (click)="save()" expand="block">
      Kaydet
    </ion-button>
    <form>
      <h3>Şifremi Sıfırla</h3>
      <ion-item>
        <ion-label position="floating">Eski Şifre</ion-label>
        <ion-input type="password" formControlName="oldPassword"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Yeni Şifre</ion-label>
        <ion-input type="password" formControlName="newPassword"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Yeni Şifre Tekrar</ion-label>
        <ion-input type="password" formControlName="newRePassword"></ion-input>
      </ion-item>
    </form>
  </div>
</ion-content>
