<ion-header>
  <ion-toolbar>
    <ion-title>Profilimi Güncelle</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form>
    <ion-item>
      <ion-label position="floating">Ad</ion-label>
      <ion-input></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Soyad</ion-label>
      <ion-input></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Şifre</ion-label>
      <ion-input type="password"></ion-input>
    </ion-item>
  </form>
  <ion-button (click)="save()" expand="block">
    Kaydet
  </ion-button>
</ion-content>
