ion-content {
  --background: #76D7C4;
}

#container {
  padding: 10px;
  background: #fff;
  height: auto;
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
  border: 2px solid #EAEDED;
  border-radius: 8px;
  margin-top: 2%;
  opacity: .9;
}
