#categoryname{
  color: #5DADE2;
  animation: categorynameanimation 5s infinite .5s;
}

@keyframes categorynameanimation {
  0%{
    filter: hue-rotate(0deg);
  }
  100%{
    filter: hue-rotate(360deg);
  }
}

#animatescore{
  color: #F5B041;
  display: none;
  margin-left:-22px;
  position: absolute;
  font-weight: 600;
  top: 0px;
}
