ion-content {
  --background: #2E4053;
}

#container {
  padding: 10px;
  height: auto;
  background: #fff;
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
  border-radius: 11px;
  margin-top: 5vh;
}
