<ion-header>
  <ion-toolbar>
    <ion-title>Soru Ekle</ion-title>
    <ion-buttons slot="start">
      <ion-button *ngIf="question" (click)="close()" fill="clear" shape="round">
        <ion-icon name="close-outline"></ion-icon>
      </ion-button>
      <ion-back-button *ngIf="!question" defaultHref="/admin/home"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button color="danger" (click)="deleteQuestion()">
        <ion-icon name="trash-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

</ion-content>
