<ion-header>
  <ion-toolbar>
    <ion-title>
      <span *ngIf="!question">Soru Ekle</span>
      <span *ngIf="question">Soru Güncelle</span>
    </ion-title>
    <ion-buttons slot="start">
      <ion-button *ngIf="question" (click)="close()" fill="clear" shape="round">
        <ion-icon name="close-outline"></ion-icon>
      </ion-button>
      <ion-back-button *ngIf="!question" defaultHref="/admin/home"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button *ngIf="question" color="danger" (click)="deleteQuestion()">
        <ion-icon name="trash-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="questionForm">
    <ion-item>
      <ion-label position="floating">Soru</ion-label>
      <ion-textarea formControlName="content"></ion-textarea>
    </ion-item>
    <div class="text-danger text-small" *ngIf="(content.touched || content.dirty) && content.errors">
      <div *ngIf="(content.errors.required)">Soru boş olamaz</div>
      <div *ngIf="(content.errors.maxlength)">Soru en fazla {{content.errors.maxlength.requiredLangth}} karakter
        olabilir</div>
    </div>
    <ion-item>
      <ion-label>Kategori</ion-label>
      <ion-select formControlName="categoryId" placeholder="Kategori Seçiniz">
        <ion-select-option *ngFor="let category of categories" [value]="category.id">
          {{category.name}}
        </ion-select-option>
      </ion-select>
    </ion-item>
  </form>
  <div class="p-2">
    <div *ngIf="question && question.createdDate">Ekleme tarihi <span
        class="text-primary">{{getDate(question.createdDate)}}</span></div>
    <div *ngIf="question && question.updatedDate">Son güncelleme tarihi <span
        class="text-primary">{{getDate(question?.updatedDate)}}</span></div>
    <div *ngIf="question && question.deletedDate">Silme tarihi <span
        class="text-primary">{{getDate(question?.deletedDate)}}</span></div>
  </div>
  <ion-button [disabled]="!isOk" [disabled]="!questionForm.valid" (click)="save()" expand="block" shape="round">
    <span *ngIf="!isOk" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>&nbsp;
    <span *ngIf="isOk && !question">Ekle</span>
    <span *ngIf="!isOk && !question">Ekleniyor...</span>
    <span *ngIf="isOk && question">Güncelle</span>
    <span *ngIf="!isOk && question">Güncelleniyor...</span>
  </ion-button>
</ion-content>
