<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/admin/home">
        <ion-icon name="arrow-back-outline"></ion-icon>
      </ion-back-button>
    </ion-buttons>
    <ion-title>categories</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="display-4 p-2" *ngFor="let category of categories" [ngStyle]="
  {'background-color':category.backgroundColor,
  'color':category.textColor}">
    <i>{{category.name.toUpperCase()}}</i>
    <span style="float:right;margin:0;padding:0;">
      <ion-icon class="arrow1" name="chevron-forward-outline"></ion-icon>
      <ion-icon class="arrow2" name="chevron-forward-outline"></ion-icon>
    </span>
  </div>
</ion-content>
