.categoryCard {
  border-radius: 5px;
  -webkit-box-shadow: 8px 12px 11px -11px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 8px 12px 11px -11px rgba(0, 0, 0, 0.75);
  box-shadow: 8px 12px 11px -11px rgba(0, 0, 0, 0.75);
}
