<ion-header>
  <ion-toolbar>
    <ion-title class="coz">ÇÖZ</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="login-card container col-xl-10 col-xxl-8 px-4 py-5">
    <div class="row align-items-center g-lg-5 py-5">
      <div class="col-lg-7 text-center text-lg-start">
        <h1 class="login-title display-4 fw-bold lh-1 mb-3">Giriş Yap</h1>
        <p class="col-lg-10 fs-4"></p>
      </div>
      <div class="col-md-10 mx-auto col-lg-5">
        <form [formGroup]="loginForm" class="p-4 p-md-5 border rounded-3 bg-light">
          <div class="form-floating mb-3">
            <input formControlName="email" type="email" class="form-control" id="email"
              placeholder="coz@example.com">
            <label for="email">Eposta Adresi</label>
            <div class="text-danger"
              *ngIf="(loginForm.get('email').touched || loginForm.get('email').dirty)&& loginForm.get('email').errors">
              <div *ngIf="loginForm.get('email').errors.required">Eposta boş olamaz</div>
              <div *ngIf="loginForm.get('email').errors.email">Eposta geçersiz</div>
              <div *ngIf="loginForm.get('email').errors.maxlength">Eposta maksimum
                {{loginForm.get('email').errors.maxlength.requiredLength}} karakter olabilir</div>
            </div>
          </div>
          <div class="form-floating mb-3">
            <input type="password" class="form-control" id="password" placeholder="Şifreniz">
            <label for="password">Şifre</label>
          </div>
          <button [disabled]="!loginForm.valid" class="w-100 btn btn-lg btn-primary" type="submit">Giriş Yap</button>
          <hr class="my-4">
          <small class="text-muted">Giriş yaptığınızda, tüm kullanım haklarını kabul etmiş olursunuz.</small>
        </form>
      </div>
    </div>
  </div>
</ion-content>
