<ion-header>
  <ion-toolbar>
    <ion-title>
      <span *ngIf="category">Kategori Güncelle</span>
      <span *ngIf="!category">Kategori Ekle</span>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="categoryForm">
    <ion-item>
      <ion-label position="floating">Kategori İsmi</ion-label>
      <ion-input formControlName="name"></ion-input>
    </ion-item>
  </form>
  <div *ngIf="category.createdDate">Ekleme tarihi{{getDate(category.updatedDate)}}</div>
  <div *ngIf="category.updatedDate">Son güncelleme tarihi {{getDate(category.updatedDate)}}</div>
  <ion-button [disabled]="!this.categoryForm.valid" (click)="add()" expand="block" shape="round">
    Ekle
  </ion-button>
</ion-content>
