<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/admin/home"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button color="danger" (click)="deleteCategory()">
        <ion-icon name="trash-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>
      <span *ngIf="category">Kategori Güncelle</span>
      <span *ngIf="!category">Kategori Ekle</span>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="categoryForm">
    <ion-item>
      <ion-label position="floating">Kategori İsmi</ion-label>
      <ion-input formControlName="name"></ion-input>
    </ion-item>
  </form>
  <div *ngIf="category?.createdDate">Ekleme tarihi{{getDate(category?.createdDate)}}</div>
  <div *ngIf="category?.updatedDate">Son güncelleme tarihi {{getDate(category?.updatedDate)}}</div>
  <div *ngIf="category?.deletedDate">Silme tarihi {{getDate(category?.deletedDate)}}</div>
  <ion-button [disabled]="!isOk" [disabled]="!this.categoryForm.valid" (click)="save()" expand="block" shape="round">
    <span *ngIf="!isOk" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>&nbsp;
    <span *ngIf="isOk">Ekle</span>
    <span *ngIf="!isOk">Ekleniyor...</span>
  </ion-button>
</ion-content>
