<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/admin/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Sorular</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngFor="let question of questions">
    <ion-card-header>
      <ion-card-subtitle>{{question.content}}</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      <div *ngFor="let answer of question.answers">
        <span [class]="checkisTrue(answer)">{{answer.content}}</span>
      </div>
    </ion-card-content>
  </ion-card>
</ion-content>
